In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
%matplotlib inline

In [64]:
## Loading the data
#We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [65]:
wru_ranking = pd.read_csv("/Users/raneemaj/Documents/GitHub/Use-case3/data/Word Rank University.csv")

In [66]:
wru_ranking.head(10)

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3
5,6Top 0.1%,Princeton University\n Education: A+; Employa...,USA,4,5,16,6,82,92.6
6,7Top 0.1%,University of Chicago\n Education: A+; Employ...,USA,5,8,15,22,28,92.1
7,8Top 0.1%,Columbia University\n Education: A+; Employab...,USA,6,12,14,10,13,91.6
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
9,10Top 0.1%,Yale University\n Education: A+; Employabilit...,USA,8,6,35,13,21,90.8

In [67]:
wru_ranking.dtypes

World Rank             object
University Names       object
Location               object
National Rank           int64
Educational Rank       object
Employability Rank     object
Faculty Rank           object
Research Rank          object
Score                 float64
dtype: object

In [68]:
wru_ranking.isnull().sum()

World Rank            0
University Names      0
Location              0
National Rank         0
Educational Rank      0
Employability Rank    0
Faculty Rank          0
Research Rank         0
Score                 0
dtype: int64

In [69]:
wru_ranking.tail()

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
1995,1996Top 9.8%,Chongqing Jiaotong University,China,314,-,-,-,1917,66.0
1996,1997Top 9.8%,University of Arkansas at Little Rock,USA,332,-,1322,-,1920,66.0
1997,1998Top 9.8%,Van Yüzüncü Yıl University,Turkey,54,-,-,-,1919,66.0
1998,1999Top 9.8%,Bharathidasan University,India,64,-,-,-,1922,66.0
1999,2000Top 9.8%,Gebze Technical University,Turkey,55,-,-,-,1923,66.0

In [40]:
#wru_ranking.sum()

In [70]:
(wru_ranking['National Rank']=='-').sum()

0

In [71]:
(wru_ranking['Educational Rank']=='-').sum()

1562

In [72]:
(wru_ranking['Employability Rank']=='-').sum()

967

In [73]:
(wru_ranking['Faculty Rank']=='-').sum()

1727

In [74]:
(wru_ranking['Research Rank']=='-').sum()

66

In [75]:
(wru_ranking['Score']=='-').sum()

0

In [47]:
# sorting the data set

In [48]:
# sorting the data set

In [49]:
# sorting the data set

In [50]:
# sorting the data set

In [51]:
# sorting the data set

In [52]:
# sorting the data set

In [53]:
# sorting the data set

In [54]:
# sorting the data set

In [55]:
# sorting the data set

In [56]:
# sorting the data set

In [57]:
# sorting the data set

In [76]:
wru_ranking_sorted= wru_ranking.sort_values(by='National Rank')

In [77]:
pd.set_option('display.max_rows', 100)

In [ ]:
# #ranking in uk
# wru_ranking_sorted= wru_ranking.sort_values(by='National Rank')
# us_ranking=wru_ranking[wru_ranking['Locat'] == 'USA'].head(100)
# us_ranking
# #uk_ranking.shape
# #(us_ranking['Educational Rank']=='-').sum()

In [ ]:
wru_ranking_sorted= wru_ranking.sort_values(by='National Rank')
wru_ranking[wru_ranking['Locat'] == 'Saudi Arabia'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
244,245Top 1.2%,King Abdulaziz University,Saudi Arabia,1,-,1330,-,186,77.8
278,279Top 1.4%,King Abdullah University of Science and Techno...,Saudi Arabia,2,-,-,171,297,77.2
351,352Top 1.8%,King Saud University,Saudi Arabia,3,-,344,-,332,76.1
656,657Top 3.3%,King Fahd University of Petroleum and Minerals,Saudi Arabia,4,-,107,-,792,72.8
1310,1311Top 6.4%,King Saud bin Abdulaziz University for Health ...,Saudi Arabia,5,-,-,-,1255,68.8
1446,1447Top 7.1%,King Khalid University,Saudi Arabia,6,-,-,-,1385,68.1
1508,1509Top 7.4%,Taif University,Saudi Arabia,7,-,-,-,1445,67.9
1546,1547Top 7.6%,Imam Abdulrahman Bin Faisal University,Saudi Arabia,8,-,-,-,1484,67.7
1585,1586Top 7.8%,Taibah University,Saudi Arabia,9,-,-,-,1520,67.5
1710,1711Top 8.4%,Prince Sattam Bin Abdulaziz University,Saudi Arabia,10,-,-,-,1636,67.0
1741,1742Top 8.5%,Umm Al-Qura University,Saudi Arabia,11,-,-,-,1666,66.9
1761,1762Top 8.6%,Alfaisal University,Saudi Arabia,12,-,-,-,1688,66.8
1810,1811Top 8.9%,Jazan University,Saudi Arabia,13,-,-,-,1737,66.6
1906,1907Top 9.3%,Qassim University,Saudi Arabia,14,-,-,-,1830,66.3
1973,1974Top 9.7%,University of Tabuk,Saudi Arabia,15,-,-,-,1896,66.1
1978,1979Top 9.7%,King Faisal University,Saudi Arabia,16,-,-,-,1903,66.0

In [ ]:
#top 100 uninversity
wru_ranking.head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3
5,6Top 0.1%,Princeton University\n Education: A+; Employa...,USA,4,5,16,6,82,92.6
6,7Top 0.1%,University of Chicago\n Education: A+; Employ...,USA,5,8,15,22,28,92.1
7,8Top 0.1%,Columbia University\n Education: A+; Employab...,USA,6,12,14,10,13,91.6
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
9,10Top 0.1%,Yale University\n Education: A+; Employabilit...,USA,8,6,35,13,21,90.8
10,11Top 0.1%,California Institute of Technology\n Educatio...,USA,9,2,96,7,83,90.4
11,12Top 0.1%,"University of California, Berkeley\n Educatio...",USA,10,9,59,4,16,90.1
12,13Top 0.1%,University of Tokyo,Japan,1,37,6,113,30,89.8
13,14Top 0.1%,Cornell University,USA,11,16,29,18,23,89.5
14,15Top 0.1%,Northwestern University,USA,12,99,17,31,31,89.3
15,16Top 0.1%,"University of Michigan, Ann Arbor",USA,13,32,40,62,7,89.1
16,17Top 0.1%,Johns Hopkins University,USA,14,22,192,20,8,88.8
17,18Top 0.1%,"University of California, Los Angeles",USA,15,31,63,16,15,88.6
18,19Top 0.1%,University College London,United Kingdom,3,35,664,14,5,88.4
19,20Top 0.1%,Duke University,USA,16,58,49,19,24,88.2
20,21Top 0.2%,PSL University,France,1,17,31,111,91,88.0
21,22Top 0.2%,University of Illinois at Urbana–Champaign,USA,17,19,143,11,74,87.9
22,23Top 0.2%,University of Toronto,Canada,1,233,163,23,3,87.7
23,24Top 0.2%,New York University,USA,18,40,45,47,46,87.5
24,25Top 0.2%,University of Washington,USA,19,74,227,25,10,87.4
25,26Top 0.2%,McGill University,Canada,2,25,109,36,45,87.2
26,27Top 0.2%,Kyoto University,Japan,2,38,32,64,79,87.1
27,28Top 0.2%,University of Wisconsin–Madison,USA,20,36,102,30,41,87.0
28,29Top 0.2%,Imperial College London,United Kingdom,4,68,123,55,18,86.8
29,30Top 0.2%,ETH Zurich,Switzerland,1,64,88,24,42,86.7
30,31Top 0.2%,Seoul National University,South Korea,1,299,22,154,57,86.6
31,32Top 0.2%,Paris-Saclay University,France,2,152,137,46,14,86.4
32,33Top 0.2%,"University of California, San Diego",USA,21,128,1520,12,22,86.3
33,34Top 0.2%,University of Texas at Austin,USA,22,92,64,17,63,86.2
34,35Top 0.2%,University of Copenhagen,Denmark,1,96,379,41,26,86.1
35,36Top 0.2%,"University of California, San Francisco",USA,23,-,1554,15,27,86.0
36,37Top 0.2%,University of North Carolina at Chapel Hill,USA,24,76,92,71,39,85.9
37,38Top 0.2%,Karolinska Institute,Sweden,1,39,-,35,62,85.8
38,39Top 0.2%,Paris City University,France,3,254,958,60,17,85.7
39,40Top 0.2%,King's College London,United Kingdom,5,51,505,28,53,85.6
40,41Top 0.2%,Sorbonne University,France,4,103,324,92,19,85.5
41,42Top 0.3%,Dartmouth College,USA,25,45,18,107,286,85.4
42,43Top 0.3%,Washington University in St. Louis,USA,26,106,144,37,48,85.3
43,44Top 0.3%,Tsinghua University,China,1,346,56,-,20,85.2
44,45Top 0.3%,Institut Polytechnique de Paris,France,5,102,9,188,370,85.1
45,46Top 0.3%,Ludwig Maximilian University of Munich,Germany,1,56,254,57,52,85.0
46,47Top 0.3%,University of Minnesota - Twin Cities,USA,27,78,318,84,34,84.9
47,48Top 0.3%,University of Edinburgh,United Kingdom,6,55,473,63,49,84.9
48,49Top 0.3%,Peking University,China,2,369,58,-,25,84.8
49,50Top 0.3%,University of Manchester,United Kingdom,7,89,417,33,56,84.7
50,51Top 0.3%,University of British Columbia,Canada,3,109,554,87,35,84.6
51,52Top 0.3%,"University of California, Davis",USA,28,87,526,54,54,84.5
52,53Top 0.3%,University of Southern California,USA,29,252,133,29,75,84.5
53,54Top 0.3%,Pennsylvania State University,USA,30,297,171,56,55,84.4
54,55Top 0.3%,University of Chinese Academy of Sciences,China,3,-,1304,-,6,84.3
55,56Top 0.3%,Vanderbilt University,USA,31,392,89,65,71,84.2
56,57Top 0.3%,University of Melbourne,Australia,1,142,411,130,33,84.2
57,58Top 0.3%,Free University of Berlin,Germany,2,80,1123,44,76,84.1
58,59Top 0.3%,Humboldt University of Berlin,Germany,3,85,1532,50,69,84.0
59,60Top 0.3%,Ohio State University,USA,32,129,294,133,40,84.0
60,61Top 0.3%,Rockefeller University,USA,33,13,-,8,460,83.9
61,62Top 0.4%,Rutgers University,USA,34,230,150,27,95,83.8
62,63Top 0.4%,University of Zurich,Switzerland,2,90,578,58,72,83.8
63,64Top 0.4%,Brown University,USA,35,75,55,121,138,83.7
64,65Top 0.4%,Purdue University,USA,36,94,91,75,114,83.6
65,66Top 0.4%,University of Colorado Boulder,USA,37,153,169,52,97,83.6
66,67Top 0.4%,Georgia Institute of Technology,USA,38,313,165,26,115,83.5
67,68Top 0.4%,Heidelberg University,Germany,4,135,1012,83,60,83.5
68,69Top 0.4%,"Texas A&M University, College Station",USA,39,-,129,72,85,83.4
69,70Top 0.4%,Hebrew University of Jerusalem,Israel,1,29,346,39,195,83.3
70,71Top 0.4%,University of Virginia,USA,40,358,37,176,137,83.3
71,72Top 0.4%,Utrecht University,Netherlands,1,180,481,161,43,83.2
72,73Top 0.4%,University of Texas Southwestern Medical Center,USA,41,41,-,42,167,83.2
73,74Top 0.4%,Shanghai Jiao Tong University,China,4,-,140,-,29,83.1
74,75Top 0.4%,University of Pittsburgh,USA,42,234,208,267,38,83.0
75,76Top 0.4%,University of Alberta,Canada,4,327,488,67,88,83.0
76,77Top 0.4%,Uppsala University,Sweden,2,97,412,70,105,82.9
77,78Top 0.4%,Technical University of Munich,Germany,5,81,368,144,77,82.9
78,79Top 0.4%,"University of Maryland, College Park",USA,43,122,387,152,68,82.8
79,80Top 0.4%,University of Amsterdam,Netherlands,2,239,689,201,44,82.8
80,81Top 0.4%,National University of Singapore,Singapore,1,365,181,-,37,82.7
81,82Top 0.4%,"University of California, Irvine",USA,44,393,1229,34,110,82.7
82,83Top 0.5%,University of Oslo,Norway,1,121,798,79,94,82.6
83,84Top 0.5%,University of Birmingham,United Kingdom,8,50,486,170,103,82.6
84,85Top 0.5%,Zhejiang University,China,5,-,351,-,32,82.5
85,86Top 0.5%,University of Florida,USA,45,326,426,139,65,82.5
86,87Top 0.5%,Weizmann Institute of Science,Israel,2,24,-,51,289,82.4
87,88Top 0.5%,Leiden University,Netherlands,3,124,1068,77,100,82.4
88,89Top 0.5%,Fudan University,China,6,353,93,-,59,82.3
89,90Top 0.5%,Boston University,USA,46,428,111,200,80,82.3
90,91Top 0.5%,University of Rochester,USA,47,65,70,132,185,82.2
91,92Top 0.5%,University of Sydney,Australia,2,198,627,-,36,82.2
92,93Top 0.5%,University of Bristol,United Kingdom,9,186,430,78,99,82.1
93,94Top 0.5%,Erasmus University Rotterdam,Netherlands,4,535,68,270,89,82.1
94,95Top 0.5%,University of Arizona,USA,48,498,237,73,107,82.1
95,96Top 0.5%,École Polytechnique Fédérale de Lausanne,Switzerland,3,-,83,112,124,82.0
96,97Top 0.5%,University of Göttingen,Germany,6,44,369,104,162,82.0
97,98Top 0.5%,"University of California, Santa Barbara",USA,49,211,535,21,156,81.9
98,99Top 0.5%,Carnegie Mellon University,USA,50,70,113,40,223,81.9
99,100Top 0.5%,Osaka University,Japan,3,145,74,124,147,81.8

In [ ]:
top_100=wru_ranking.head(100)
top_100[top_100['Faculty Rank'] == '-'].head(100)
# wru_ranking[wru_ranking['Educational Rank'] == '-'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
43,44Top 0.3%,Tsinghua University,China,1,346,56,-,20,85.2
48,49Top 0.3%,Peking University,China,2,369,58,-,25,84.8
54,55Top 0.3%,University of Chinese Academy of Sciences,China,3,-,1304,-,6,84.3
73,74Top 0.4%,Shanghai Jiao Tong University,China,4,-,140,-,29,83.1
80,81Top 0.4%,National University of Singapore,Singapore,1,365,181,-,37,82.7
84,85Top 0.5%,Zhejiang University,China,5,-,351,-,32,82.5
88,89Top 0.5%,Fudan University,China,6,353,93,-,59,82.3
91,92Top 0.5%,University of Sydney,Australia,2,198,627,-,36,82.2

In [ ]:
top_100=wru_ranking.head(100)
top_100[top_100['Research Rank'] == '-'].head(100)

Empty DataFrame
Columns: [World Rank, University Names, Locat, National Rank, Educational Rank, Employability Rank, Faculty Rank, Research Rank, Score]
Index: []

In [ ]:
top_100=wru_ranking.head(100)
top_100[top_100['Employability Rank'] == '-'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
37,38Top 0.2%,Karolinska Institute,Sweden,1,39,-,35,62,85.8
60,61Top 0.3%,Rockefeller University,USA,33,13,-,8,460,83.9
72,73Top 0.4%,University of Texas Southwestern Medical Center,USA,41,41,-,42,167,83.2
86,87Top 0.5%,Weizmann Institute of Science,Israel,2,24,-,51,289,82.4

In [ ]:
top_100=wru_ranking.head(100)
top_100[top_100['Educational Rank'] == '-'].head(100)

,World Rank,University Names,Locat,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
35,36Top 0.2%,"University of California, San Francisco",USA,23,-,1554,15,27,86.0
54,55Top 0.3%,University of Chinese Academy of Sciences,China,3,-,1304,-,6,84.3
68,69Top 0.4%,"Texas A&M University, College Station",USA,39,-,129,72,85,83.4
73,74Top 0.4%,Shanghai Jiao Tong University,China,4,-,140,-,29,83.1
84,85Top 0.5%,Zhejiang University,China,5,-,351,-,32,82.5
95,96Top 0.5%,École Polytechnique Fédérale de Lausanne,Switzerland,3,-,83,112,124,82.0

In [ ]:
#
# now lets navigate in times ranking
#
#
#
#
#

In [87]:
times_ranking=pd.read_csv("/Users/raneemaj/Documents/GitHub/Use-case3/data/Times Higher Education.csv")

In [88]:
times_ranking.head(10)

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Queen’s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91,92.6,97.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Universiti Sains Malaysia,https://www.timeshighereducation.com/world-uni...,Malaysia,16.0,94.1,2.0,86.4,1.0,84.9,97.8,96.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,University of Tasmania,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.8,15.0,96.2,14.0,95.1,96.3,96.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Arizona State University (Tempe),https://www.timeshighereducation.com/world-uni...,United States,15.0,95.4,14.0,93.9,6.0,87.6,81.9–86.9,96.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,University of Alberta,https://www.timeshighereducation.com/world-uni...,Canada,9.0,99.4,2.0,89.2,15.0,91,94.4,96.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,RMIT University,https://www.timeshighereducation.com/world-uni...,Australia,10.0,92.1,8.0,83.7,11.0,87.4,98.5,96.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,Aalborg University,https://www.timeshighereducation.com/world-uni...,Denmark,4.0,90.6,10.0,90.2,14.0,93.4,98.5,95.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,University of Victoria,https://www.timeshighereducation.com/world-uni...,Canada,11.0,91.8,13.0,89.4,12.0,88.4,91.9,95.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
times_ranking.dtypes

Rank                               object
University Name                    object
ranking-institution-title href     object
Location                           object
sdg-score-multi__number           float64
sdg-score-multi__value             object
sdg-score-multi__number 2         float64
sdg-score-multi__value 2           object
sdg-score-multi__number 3         float64
sdg-score-multi__value 3           object
sdg-score-multi__value 4           object
scores                             object
sdg-score-multi__number 5         float64
sdg-score-multi__value 5           object
sdg-score-multi__number 6         float64
sdg-score-multi__value 6           object
sdg-score-multi__number 7         float64
sdg-score-multi__value 7           object
sdg-score-multi__number 8         float64
sdg-score-multi__value 8           object
dtype: object

In [90]:
times_ranking[times_ranking['Location'].isnull()]

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
248,201–300,Kazan Federal University,NaN,NaN,8.0,74.3,16.0,74.1,4.0,75.6–81.7,NaN,76.8–82.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,201–300,Peter the Great St Petersburg Polytechnic Univ...,NaN,NaN,9.0,88.9,8.0,66.4–71.5,11.0,67.1–76.0,75.6–81.7,76.8–82.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,201–300,RUDN University,NaN,NaN,4.0,84.5,8.0,66.4–71.5,5.0,67.7,53.4–61.0,76.8–82.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,301–400,Altai State University,NaN,NaN,4.0,78.7,8.0,66.4–71.5,16.0,53.4–61.0,NaN,72.7–76.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,301–400,Bauman Moscow State Technical University,NaN,NaN,4.0,81.1,13.0,56.6–66.3,9.0,73.0–87.2,61.1–70.5,72.7–76.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,301–400,Irkutsk National Research Technical University,NaN,NaN,8.0,62.4–66.3,7.0,61.8–67.8,12.0,58.7–66.7,70.6–75.5,72.7–76.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,301–400,National Research Nuclear University MEPhI,NaN,NaN,9.0,73.0–87.2,12.0,66.8–76.6,10.0,65.2–73.3,75.6–81.7,72.7–76.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,401–600,Financial University under the Government of t...,NaN,NaN,9.0,73.0–87.2,8.0,57.8–62.2,7.0,51.9–56.1,1.5–45.2,66.9–72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,401–600,Immanuel Kant Baltic Federal University,NaN,NaN,16.0,66.4–71.5,8.0,65.2–73.3,10.0,1.5–45.2,NaN,66.9–72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,401–600,ITMO University,NaN,NaN,8.0,48.4–57.7,9.0,91.1,11.0,60.1–67.0,45.3–53.3,66.9–72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,401–600,Kursk State Medical University,NaN,NaN,10.0,77.4,3.0,73.5–78.9,8.0,66.4–71.5,1.5–45.2,66.9–72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,401–600,Moscow Institute of Physics and Technology (MIPT),NaN,NaN,9.0,73.0–87.2,8.0,62.4–66.3,1.0,60.3–68.4,45.3–53.3,66.9–72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,401–600,Russian Biotechnological University (BIOTECH),NaN,NaN,2.0,68.5,5.0,56.1–61.4,4.0,62.6–66.5,53.4–61.0,66.9–72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,401–600,Plekhanov Russian University of Economics,NaN,NaN,4.0,83.5,8.0,57.8–62.2,NaN,NaN,53.4–61.0,66.9–72.6,5.0,56.1–61.4,NaN,NaN,NaN,NaN,NaN,NaN
551,401–600,Siberian Federal University,NaN,NaN,2.0,56.3–67.3,15.0,59.5–72.2,11.0,52.5–60.0,70.6–75.5,66.9–72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,601–800,Industrial University of Tyumen,NaN,NaN,4.0,62.6–66.5,11.0,60.1–67.0,10.0,1.5–45.2,57.6–65.1,59.7–66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
730,601–800,North-Caucasus Federal University,NaN,NaN,16.0,54.5–60.1,8.0,57.8–62.2,NaN,NaN,1.5–45.2,59.7–66.7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731,601–800,North-Eastern Federal University,NaN,NaN,NaN,NaN,8.0,35.7–48.3,1.0,54.5–60.1,53.4–61.0,59.7–66.7,5.0,43.7–51.5,NaN,NaN,NaN,NaN,NaN,NaN
733,601–800,Novosibirsk State Agrarian University,NaN,NaN,2.0,72.8,15.0,59.5–72.2,6.0,42.8–49.1,1.5–45.2,59.7–66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,601–800,Perm State University,NaN,NaN,8.0,48.4–57.7,15.0,59.5–72.2,11.0,60.1–67.0,53.4–61.0,59.7–66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750,601–800,Russian State Agrarian University – Moscow Tim...,NaN,NaN,4.0,66.6–73.0,11.0,60.1–67.0,2.0,48.3–56.2,1.5–45.2,59.7–66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,601–800,Southern Federal University,NaN,NaN,8.0,48.4–57.7,16.0,60.3–72.9,9.0,61.1–70.5,NaN,59.7–66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,601–800,South Ural State University,NaN,NaN,8.0,66.4–71.5,16.0,60.1–67.0,11.0,NaN,61.1–70.5,59.7–66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,601–800,Tomsk Polytechnic University,NaN,NaN,9.0,73.0–87.2,11.0,60.1–67.0,4.0,43.6–50.9,70.6–75.5,59.7–66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,601–800,Volgograd State University,NaN,NaN,8.0,57.8–62.2,16.0,43.7–51.5,5.0,53.4–61.0,NaN,59.7–66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,801–1000,Bashkir State University,NaN,NaN,4.0,51.0–58.6,NaN,NaN,16.0,NaN,70.6–75.5,53.9–59.6,5.0,43.7–51.5,NaN,NaN,NaN,NaN,NaN,NaN
832,801–1000,Bashkir State Medical University,NaN,NaN,3.0,68.3–73.4,5.0,43.7–51.5,4.0,35.8–43.5,1.5–45.2,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
834,801–1000,Belgorod State National Research University,NaN,NaN,8.0,57.8–62.2,3.0,54.7–63.8,9.0,51.0–60.2,53.4–61.0,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,801–1000,Lobachevsky State University of Nizhni Novgorod,NaN,NaN,11.0,52.5–60.0,10.0,51.8–57.5,9.0,60.3–72.9,45.3–53.3,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,801–1000,Novosibirsk State Technical University,NaN,NaN,NaN,60.3–68.4,8.0,48.4–57.7,7.0,38.7–51.8,1.5–45.2,53.9–59.6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,801–1000,Perm National Research Polytechnic University,NaN,NaN,9.0,60.3–72.9,8.0,57.8–62.2,4.0,58.7–62.5,1.5–45.2,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,801–1000,Rostov State University of Economics,NaN,NaN,5.0,51.6–56.0,8.0,48.4–57.7,16.0,1.5–45.2,NaN,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954,801–1000,Ryazan State Medical University,NaN,NaN,3.0,73.5–78.9,10.0,51.8–57.5,8.0,35.7–48.3,53.4–61.0,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,801–1000,Samara National Research University (Samara Un...,NaN,NaN,8.0,57.8–62.2,11.0,67.1–76.0,7.0,56.2–61.7,1.5–45.2,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,801–1000,Samara State Medical University,NaN,NaN,5.0,43.7–51.5,3.0,73.5–78.9,9.0,33.9–50.8,53.4–61.0,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
960,801–1000,Samara State Technical University,NaN,NaN,4.0,43.6–50.9,8.0,48.4–57.7,NaN,NaN,1.5–45.2,53.9–59.6,11.0,38.5–52.3,NaN,NaN,NaN,NaN,NaN,NaN
966,801–1000,Siberian State Medical University,NaN,NaN,8.0,48.4–57.7,3.0,81.4,5.0,43.7–51.5,61.1–70.5,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
973,801–1000,St Petersburg Electrotechnical University (LETI),NaN,NaN,8.0,62.4–66.3,9.0,60.3–72.9,7.0,1.5–45.2,38.7–51.8,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,801–1000,Tomsk State University of Control Systems and ...,NaN,NaN,8.0,48.4–57.7,1.0,54.5–60.1,9.0,60.3–72.9,1.5–45.2,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,801–1000,Tver State Technical University,NaN,NaN,NaN,NaN,8.0,57.8–62.2,5.0,43.7–51.5,45.3–53.3,53.9–59.6,11.0,38.5–52.3,NaN,NaN,NaN,NaN,NaN,NaN
988,801–1000,Ufa State Petroleum Technological University,NaN,NaN,11.0,62.4–66.3,8.0,38.5–52.3,7.0,45.3–53.3,38.7–51.8,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,801–1000,Voronezh State University,NaN,NaN,8.0,57.8–62.2,16.0,44.7–54.5,3.0,1.5–45.2,NaN,53.9–59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,1001+,Belarusian State University of Informatics and...,NaN,NaN,3.0,44.7–54.5,10.0,40.0–51.7,7.0,1.5–45.2,56.2–61.7,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1126,1001+,University of Civil Protection,NaN,NaN,1.0,38.2–49.4,NaN,NaN,11.0,1.5–20.8,1.5–45.2,7.9–53.8,3.0,1.0–32.0,NaN,NaN,NaN,NaN,NaN,NaN
1146,1001+,Don State Technical University,NaN,NaN,8.0,62.4–66.3,10.0,51.8–57.5,1.0,38.2–49.4,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,1001+,Dostoevsky Omsk State University,NaN,NaN,8.0,35.7–48.3,9.0,33.9–50.8,10.0,25.6–39.9,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1191,1001+,Gomel State Medical University,NaN,NaN,8.0,35.7–48.3,3.0,63.9–68.2,NaN,NaN,1.5–45.2,7.9–53.8,4.0,2.8–35.7,NaN,NaN,NaN,NaN,NaN,NaN
1195,1001+,Gubkin Russian State University of Oil and Gas,NaN,NaN,7.0,11.1–38.6,16.0,NaN,NaN,1.5–45.2,22.1–34.3,7.9–53.8,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1233,1001+,Irkutsk State University,NaN,NaN,8.0,35.7–48.3,16.0,38.2–49.4,1.0,NaN,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1245,1001+,Ivanovo State University,NaN,NaN,1.0,23.3–38.1,4.0,32.1–44.6,3.0,1.5–45.2,2.8–35.7,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1255,1001+,Kabardino-Balkarian State University,NaN,NaN,10.0,51.8–57.5,8.0,57.8–62.2,4.0,51.0–58.6,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1270,1001+,Kazan National Research Technical University,NaN,NaN,9.0,51.0–60.2,4.0,NaN,NaN,1.5–45.2,43.6–50.9,7.9–53.8,NaN,40.0–51.7,10.0,NaN,NaN,NaN,NaN,NaN
1271,1001+,Kazan National Research Technological University,NaN,NaN,8.0,48.4–57.7,9.0,33.9–50.8,4.0,2.8–35.7,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1272,1001+,Kazan State Medical University,NaN,NaN,3.0,73.5–78.9,9.0,17.2–33.8,16.0,NaN,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1274,1001+,Kemerovo State University,NaN,NaN,2.0,15.3–38.3,4.0,66.6–73.0,13.0,25.7–41.3,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1288,1001+,Kuban State Technological University,NaN,NaN,4.0,62.4–66.3,8.0,43.6–50.9,1.0,45.3–53.3,38.2–49.4,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1316,1001+,MIREA - Russian Technological University,NaN,NaN,9.0,17.2–33.8,NaN,NaN,5.0,22.1–34.3,1.5–45.2,7.9–53.8,4.0,2.8–35.7,NaN,NaN,NaN,NaN,NaN,NaN
1321,1001+,Moscow Pedagogical State University,NaN,NaN,8.0,48.4–57.7,16.0,NaN,4.0,51.0–58.6,45.3–53.3,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322,1001+,Moscow Power Engineering Institute,NaN,NaN,13.0,25.7–41.3,11.0,20.9–38.4,7.0,11.1–38.6,45.3–53.3,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1323,1001+,Moscow State University of Design and Technology,NaN,NaN,8.0,35.7–48.3,NaN,43.6–50.9,4.0,1.5–45.2,43.7–51.5,7.9–53.8,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1324,1001+,Moscow Technical University of Communications ...,NaN,NaN,11.0,1.5–20.8,4.0,35.8–43.5,NaN,NaN,1.5–45.2,7.9–53.8,8.0,35.7–48.3,NaN,NaN,NaN,NaN,NaN,NaN
1351,1001+,National Research Saratov State University,NaN,NaN,4.0,35.8–43.5,8.0,48.4–57.7,NaN,NaN,1.5–45.2,7.9–53.8,3.0,32.1–44.6,NaN,NaN,NaN,NaN,NaN,NaN
1363,1001+,Nizhny Novgorod State Technical University,NaN,NaN,4.0,35.7–48.3,8.0,2.8–35.7,9.0,1.5–45.2,33.9–50.8,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1366,1001+,Novosibirsk State University of Economics and ...,NaN,NaN,8.0,48.4–57.7,16.0,20.9–38.4,11.0,NaN,45.3–53.3,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,1001+,Omsk State Agrarian University,NaN,NaN,1.0,23.3–38.1,11.0,20.9–38.4,2.0,1.5–45.2,48.3–56.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1374,1001+,Omsk State Technical University,NaN,NaN,NaN,NaN,10.0,51.8–57.5,9.0,51.0–60.2,1.5–45.2,7.9–53.8,8.0,35.7–48.3,NaN,NaN,NaN,NaN,NaN,NaN
1376,1001+,Orel State University named after I.S. Turgenev,NaN,NaN,4.0,2.8–35.7,8.0,57.8–62.2,NaN,NaN,1.5–45.2,7.9–53.8,3.0,54.7–63.8,NaN,NaN,NaN,NaN,NaN,NaN
1379,1001+,Pacific National University,NaN,NaN,NaN,NaN,16.0,43.6–50.9,8.0,35.7–48.3,1.5–45.2,7.9–53.8,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1384,1001+,Pavlov First Saint Petersburg State Medical Un...,NaN,NaN,5.0,34.4–43.6,3.0,73.5–78.9,4.0,2.8–35.7,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1392,1001+,Platov South-Russian State Polytechnic Univers...,NaN,NaN,9.0,33.9–50.8,2.0,15.3–38.3,12.0,26.1–49.1,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402,1001+,Privolzhsky Research Medical University,NaN,NaN,3.0,73.5–78.9,4.0,43.6–50.9,2.0,15.3–38.3,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1406,1001+,Pskov State University,NaN,NaN,4.0,35.8–43.5,8.0,48.4–57.7,16.0,NaN,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1422,1001+,Russian Presidential Academy of National Econo...,NaN,NaN,3.0,32.1–44.6,4.0,43.6–50.9,16.0,NaN,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423,1001+,Russian State University for the Humanities,NaN,NaN,NaN,NaN,16.0,35.8–43.5,4.0,1.5–45.2,43.7–51.5,7.9–53.8,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1427,1001+,Saint Petersburg State Pediatric Medical Unive...,NaN,NaN,10.0,25.6–39.9,4.0,2.8–35.7,5.0,22.1–34.3,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,1001+,Samara State University of Economics,NaN,NaN,16.0,34.4–43.6,8.0,1.4–35.6,5.0,NaN,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,1001+,State University of Land Use Planning,NaN,NaN,8.0,57.8–62.2,9.0,33.9–50.8,2.0,1.5–45.2,38.4–48.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1474,1001+,Stavropol State Agrarian University,NaN,NaN,11.0,38.5–52.3,15.0,38.2–47.7,NaN,NaN,1.5–45.2,7.9–53.8,8.0,48.4–57.7,NaN,NaN,NaN,NaN,NaN,NaN
1486,1001+,Tambov State Technical University,NaN,NaN,11.0,52.5–60.0,NaN,NaN,4.0,35.8–43.5,1.5–45.2,7.9–53.8,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1518,1001+,Togliatti State University,NaN,NaN,16.0,20.9–38.4,11.0,22.1–34.3,5.0,53.4–61.0,NaN,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525,1001+,Tomsk State Pedagogical University,NaN,NaN,4.0,2.8–35.7,11.0,20.9–38.4,3.0,32.1–44.6,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,1001+,Tula State University,NaN,NaN,3.0,32.1–44.6,16.0,51.0–58.6,NaN,NaN,1.5–45.2,7.9–53.8,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,1001+,Tver State University,NaN,NaN,4.0,58.7–62.5,8.0,48.4–57.7,5.0,51.6–56.0,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1536,1001+,University of Tyumen,NaN,NaN,NaN,NaN,8.0,35.7–48.3,4.0,2.8–35.7,1.5–45.2,7.9–53.8,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1541,1001+,Ulyanovsk State Technical University,NaN,NaN,9.0,17.2–33.8,3.0,1.0–32.0,NaN,NaN,1.5–45.2,7.9–53.8,4.0,35.8–43.5,NaN,NaN,NaN,NaN,NaN,NaN
1544,1001+,Ural State University of Economics,NaN,NaN,8.0,48.4–57.7,4.0,51.0–58.6,10.0,51.8–57.5,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1545,1001+,Ural State Medical University,NaN,NaN,NaN,NaN,NaN,68.3–73.4,3.0,1.5–45.2,22.1–34.3,7.9–53.8,5.0,25.6–39.9,10.0,NaN,NaN,NaN,NaN,NaN
1560,1001+,V.I. Vernadsky Crimean Federal University (Ver...,NaN,NaN,16.0,NaN,8.0,35.7–48.3,9.0,33.9–50.8,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1562,1001+,Volgograd State Technical University,NaN,NaN,9.0,51.0–60.2,11.0,20.9–38.4,8.0,57.8–62.2,1.5–45.2,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1563,1001+,Voronezh State Technical University,NaN,NaN,2.0,35.7–48.3,8.0,38.4–48.2,1.0,1.5–45.2,49.5–54.4,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,1001+,Yanka Kupala State University of Grodno,NaN,NaN,10.0,40.0–51.7,16.0,20.9–38.4,11.0,NaN,45.3–53.3,7.9–53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
times_ranking.isnull().sum()

Rank                                 0
University Name                      0
ranking-institution-title href      91
Location                            91
sdg-score-multi__number            724
sdg-score-multi__value             724
sdg-score-multi__number 2          765
sdg-score-multi__value 2           766
sdg-score-multi__number 3          779
sdg-score-multi__value 3           786
sdg-score-multi__value 4             8
scores                               0
sdg-score-multi__number 5         1026
sdg-score-multi__value 5          1034
sdg-score-multi__number 6         1093
sdg-score-multi__value 6          1095
sdg-score-multi__number 7         1152
sdg-score-multi__value 7          1152
sdg-score-multi__number 8         1108
sdg-score-multi__value 8          1108
dtype: int64

In [92]:
# fill the Nan with "Unknown" so that i can deal with it in the coming steps
times_ranking["Location"]=times_ranking["Location"].fillna("Unknown")

In [93]:
# to make sure that i gor rid of the Nan
times_ranking.isnull().sum()

Rank                                 0
University Name                      0
ranking-institution-title href      91
Location                             0
sdg-score-multi__number            724
sdg-score-multi__value             724
sdg-score-multi__number 2          765
sdg-score-multi__value 2           766
sdg-score-multi__number 3          779
sdg-score-multi__value 3           786
sdg-score-multi__value 4             8
scores                               0
sdg-score-multi__number 5         1026
sdg-score-multi__value 5          1034
sdg-score-multi__number 6         1093
sdg-score-multi__value 6          1095
sdg-score-multi__number 7         1152
sdg-score-multi__value 7          1152
sdg-score-multi__number 8         1108
sdg-score-multi__value 8          1108
dtype: int64

In [ ]:
#### stoooooooooooooooooooop analysis!!!!!!!!!!!
#
#
#
#
#
#
#
#
#
#

In [94]:
times24=pd.read_csv("/Users/raneemaj/Documents/GitHub/Use-case3/data/TIMES_WorldUniversityRankings_2024.csv")

In [82]:
times24.head()

,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,record_type,member_level,url,nid,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,website_url
0,1,University of Oxford,98.5,10,96.6,5,100.0,2,99.0,5,98.7,77,97.5,14,master_account,0,/world-university-rankings/university-oxford,468,United Kingdom,"21,750",10.9,42%,49 : 51,University of Oxford,"Geography,Chemistry,Chemical Engineering,Biolo...",False,False,False,https://www.timeshighereducation.com/student/r...
1,2,Stanford University,98.0,20,99.0,1,97.8,8,99.6,2,100.0,25,87.0,167,private,0,/world-university-rankings/stanford-university,467,United States,"14,517",6.4,23%,47 : 53,Stanford University,"Computer Science,Communication & Media Studies...",False,False,False,NaN
2,3,Massachusetts Institute of Technology,97.9,30,98.6,2,96.2,11,99.7,1,100.0,16,93.8,66,private,0,/world-university-rankings/massachusetts-insti...,471,United States,"11,085",8.0,33%,41 : 59,Massachusetts Institute of Technology,"Architecture,Economics & Econometrics,Archaeol...",False,False,False,https://www.timeshighereducation.com/student/r...
3,4,Harvard University,97.8,40,97.7,3,99.9,3,99.4,3,84.2,216,90.8,119,private,0,/world-university-rankings/harvard-university,466,United States,"20,050",9.0,25%,51 : 49,Harvard University,"Sociology,Architecture,Physics & Astronomy,Psy...",False,False,False,https://www.timeshighereducation.com/student/r...
4,5,University of Cambridge,97.5,50,95.8,7,100.0,1,98.0,12,87.9,180,97.4,15,master_account,0,/world-university-rankings/university-cambridge,470,United Kingdom,"20,565",11.5,38%,48 : 52,University of Cambridge,Politics & International Studies (incl Develop...,False,False,False,https://www.timeshighereducation.com/student/r...

In [83]:
times24.isnull().sum()

rank                                    0
name                                    0
scores_overall                        769
scores_overall_rank                     0
scores_teaching                       769
scores_teaching_rank                    0
scores_research                       769
scores_research_rank                    0
scores_citations                      769
scores_citations_rank                   0
scores_industry_income                769
scores_industry_income_rank             0
scores_international_outlook          769
scores_international_outlook_rank       0
record_type                             0
member_level                            0
url                                     0
nid                                     0
location                                0
stats_number_students                   0
stats_student_staff_ratio               0
stats_pc_intl_students                  0
stats_female_male_ratio                93
aliases                                 0
subjects_offered                        4
closed                                  0
unaccredited                            0
disabled                                0
website_url                          2329
dtype: int64

In [84]:
#checking the buttom of dataset
times24_tail800=times24.tail(800)

In [85]:
times24_tail800.isnull().sum()

rank                                   0
name                                   0
scores_overall                       769
scores_overall_rank                    0
scores_teaching                      769
scores_teaching_rank                   0
scores_research                      769
scores_research_rank                   0
scores_citations                     769
scores_citations_rank                  0
scores_industry_income               769
scores_industry_income_rank            0
scores_international_outlook         769
scores_international_outlook_rank      0
record_type                            0
member_level                           0
url                                    0
nid                                    0
location                               0
stats_number_students                  0
stats_student_staff_ratio              0
stats_pc_intl_students                 0
stats_female_male_ratio               16
aliases                                0
subjects_offered                       4
closed                                 0
unaccredited                           0
disabled                               0
website_url                          746
dtype: int64

In [95]:
# i need to rename one of the column in order to merge them 
times24.rename(columns={'name': 'University Name'}, inplace=True)



times_ranking.rename(columns={'University Name ': 'University Name'}, inplace=True)
print(times_ranking.columns)

Index(['Rank', 'University Name', 'ranking-institution-title href', 'Location',
       'sdg-score-multi__number', 'sdg-score-multi__value',
       'sdg-score-multi__number 2', 'sdg-score-multi__value 2',
       'sdg-score-multi__number 3', 'sdg-score-multi__value 3',
       'sdg-score-multi__value 4', 'scores', 'sdg-score-multi__number 5',
       'sdg-score-multi__value 5', 'sdg-score-multi__number 6',
       'sdg-score-multi__value 6', 'sdg-score-multi__number 7',
       'sdg-score-multi__value 7', 'sdg-score-multi__number 8',
       'sdg-score-multi__value 8'],
      dtype='object')

In [96]:
location_column = 'Location'

# Merge the datasets based on the location column
merged_df = pd.merge(times_ranking , times24, on='University Name', how='inner')
#column_to_compare = 'Location'
#comparison_result = merged_df['University Name' + column_to_compare] > merged_df['University Name' + column_to_compare]

In [99]:
#start_column = 'sdg-score-multi__number 5'
#end_column = 'sdg-score-multi__value 8'

# Get the index positions of the start and end columns
#start_index =merged_df.columns.get_loc(start_column)
#end_index = merged_df.columns.get_loc(end_column)

# Drop the columns between the start and end positions
#merged_df.drop(merged_df.columns[start_index:end_index+1], axis=1, inplace=True)
merged_df

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,rank,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,record_type,member_level,url,nid,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,website_url
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,301–350,51.1–53.0,3480,29.5,724,31.7,424,87.7,158,51.5,784,87.2,163,master_account,0,/world-university-rankings/western-sydney-univ...,1014,Australia,"35,590",41.8,21%,59 : 41,Western Sydney University University of Wester...,"Civil Engineering,Geology, Environmental, Eart...",False,False,False,NaN
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,51,75.6,510,61.4,69,67.1,60,93.1,74,73.1,367,95.6,37,master_account,6,/world-university-rankings/university-manchester,512,United Kingdom,"40,725",15.6,45%,56 : 44,University of Manchester,"Architecture,Mechanical & Aerospace Engineerin...",False,False,False,https://www.timeshighereducation.com/student/r...
2,3,Queen’s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91,92.6,97.2,251–300,53.1–55.8,2820,37.5,378,38.0,290,72.3,504,94.0,128,76.0,313,master_account,11,/world-university-rankings/queens-university,639,Canada,"27,034",25.9,16%,58 : 42,Queen’s University Canadian University Researc...,"Other Health,Chemistry,Psychology,Civil Engine...",False,False,False,https://www.timeshighereducation.com/student/r...
3,4,Universiti Sains Malaysia,https://www.timeshighereducation.com/world-uni...,Malaysia,16.0,94.1,2.0,86.4,1.0,84.9,97.8,96.9,401–500,45.4–49.0,4780,42.9,244,27.8,519,60.0,783,53.7,741,71.9,376,master_account,0,/world-university-rankings/universiti-sains-ma...,131486,Malaysia,"24,850",12.1,28%,63 : 37,Universiti Sains Malaysia,"Medicine & Dentistry,Mathematics & Statistics,...",False,False,False,NaN
4,5,University of Tasmania,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.8,15.0,96.2,14.0,95.1,96.3,96.6,251–300,53.1–55.8,2970,31.6,609,38.4,276,82.0,285,70.5,417,90.9,118,master_account,0,/world-university-rankings/university-tasmania,808,Australia,"16,894",22.5,31%,60 : 40,University of Tasmania,"Other Health,Geology, Environmental, Earth & M...",False,False,False,https://www.timeshighereducation.com/student/r...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1001+,Yogyakarta State University,https://www.timeshighereducation.com/world-uni...,Indonesia,12.0,49.4–58.6,1.0,49.5–54.4,NaN,NaN,61.1–70.5,7.9–53.8,1501+,9.7–22.7,19030,16.9,1635,10.5,1595,28.8,1478,23.1,1399,30.6,1477,master_account,0,/world-university-rankings/yogyakarta-state-un...,622548,Indonesia,"24,073",16.3,1%,61 : 39,Yogyakarta State University,"Mathematics & Statistics,General Engineering,C...",False,False,False,NaN
1272,1001+,Zarqa University,https://www.timeshighereducation.com/world-uni...,Jordan,NaN,NaN,NaN,NaN,1.0,23.3–38.1,1.5–45.2,7.9–53.8,Reporter,NaN,1000765,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,master_account,0,/world-university-rankings/zarqa-university,698425,Jordan,"5,881",17.0,35%,60 : 40,Zarqa University,"General Engineering,Civil Engineering,Electric...",False,False,False,NaN
1273,1001+,Zewail City of Science and Technology,https://www.timeshighereducation.com/world-uni...,Egypt,3.0,44.7–54.5,7.0,11.1–38.6,NaN,NaN,45.3–53.3,7.9–53.8,1001–1200,28.3–32.6,12000,25.8,955,17.3,952,53.9,920,20.5,1514,37.7,1213,master_account,0,/world-university-rankings/zewail-city-science...,670425,Egypt,"1,052",9.8,0%,48 : 52,Zewail City of Science and Technology,"Chemical Engineering,Economics & Econometrics,...",False,False,False,NaN
1274,1001+,University of Žilina,https://www.timeshighereducation.com/world-uni...,Slovakia,11.0,20.9–38.4,NaN,NaN,NaN,NaN,1.5–45.2,7.9–53.8,1001–1200,28.3–32.6,12020,27.7,828,18.0,922,48.2,1052,30.6,1169,31.8,1435,master_account,0,/world-university-rankings/university-zilina,661151,Slovakia,"7,154",14.0,3%,32 : 68,University of Žilina,"Computer Science,Business & Management,Civil E...",False,False,False,NaN
1275,1001+,Zonguldak Bülent Ecevit University,https://www.timeshighereducation.com/world-uni...,Turkey,12.0,49.4–58.6,NaN,NaN,NaN,NaN,1.5–45.2,7.9–53.8,1501+,9.7–22.7,19040,12.5,1863,11.2,1507,21.6,1646,48.1,842,26.4,1650,master_account,0,/world-university-rankings/zonguldak-bulent-ec...,625941,Turkey,"29,329",22.4,8%,57 : 43,Zonguldak Bülent Ecevit University,"Electrical & Electronic Engineering,Medicine &...",False,False,False,NaN

In [100]:
times_ranking.dtypes

Rank                               object
University Name                    object
ranking-institution-title href     object
Location                           object
sdg-score-multi__number           float64
sdg-score-multi__value             object
sdg-score-multi__number 2         float64
sdg-score-multi__value 2           object
sdg-score-multi__number 3         float64
sdg-score-multi__value 3           object
sdg-score-multi__value 4           object
scores                             object
sdg-score-multi__number 5         float64
sdg-score-multi__value 5           object
sdg-score-multi__number 6         float64
sdg-score-multi__value 6           object
sdg-score-multi__number 7         float64
sdg-score-multi__value 7           object
sdg-score-multi__number 8         float64
sdg-score-multi__value 8           object
dtype: object

In [101]:
times24.dtypes

rank                                  object
University Name                       object
scores_overall                        object
scores_overall_rank                    int64
scores_teaching                      float64
scores_teaching_rank                   int64
scores_research                      float64
scores_research_rank                   int64
scores_citations                     float64
scores_citations_rank                  int64
scores_industry_income               float64
scores_industry_income_rank            int64
scores_international_outlook         float64
scores_international_outlook_rank      int64
record_type                           object
member_level                           int64
url                                   object
nid                                    int64
location                              object
stats_number_students                 object
stats_student_staff_ratio            float64
stats_pc_intl_students                object
stats_female_male_ratio               object
aliases                               object
subjects_offered                      object
closed                                  bool
unaccredited                            bool
disabled                                bool
website_url                           object
dtype: object

In [ ]:
pd.set_option('display.max_columns', 50)